<% content_for :title do %>HADashboard<% end %>

<div class="gridster"> <!-- Main Panel - PAGE 1 -->
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="clock" data-view="Clock" data-color="#FF0000"></div>
    </li>
    <li data-row="2" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="weather" data-view="Haweather" data-unit="&deg;C" data-color="#FF0000"></div>
    </li>


    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="svetlo_v_loznici_switch_42_0" data-view="Haswitch" data-title="💡 ložnice" data-color="#FF0000"></div>
    </li>
    <li data-row="1" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="led_v_loznici" data-view="Haswitch" data-title="💡 LEDky v ložnici" data-color="#FF0000"></div>
    </li>
    <li data-row="1" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="svetlo_v_obyvaku_switch_3_0" data-view="Haswitch" data-title="💡 obývák" data-color="#FF0000"></div>
    </li>
	<li data-row="1" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="svetlo_v_predsini_switch_10_0" data-view="Haswitch" data-title="💡 předsíň" data-color="#FF0000"></div>
    </li>


	
    <li data-row="2" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="svetlo_nad_linkou_switch_4_0" data-view="Haswitch" data-title="💡 kuchyňská linka" data-color="#FF0000"></div>
    </li>
    <li data-row="2" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="svetlo_v_kuchyni_switch_5_0" data-view="Haswitch" data-title="💡 kuchyně" data-color="#FF0000"></div>
    </li>

	<li data-row="3" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="zehlicka_switch_6_0" data-view="Haswitch" data-title="🔌 žehlička" data-color="#FF0000"></div>
    </li>
	    <li data-row="3" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="vysavace" data-view="Hainputboolean" data-title="vysavače" data-icon="circle-o-notch"></div>
    </li>
    <li data-row="3" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="hdmi_0" data-view="Haswitch" data-title="📺 TV" data-color="#FF0000"></div>
    </li>

    <li data-row="4" data-col="4" data-sizex="1" data-sizey="1">
      <div data-id="all_lights" data-view="Hagroup" data-title="💡💡 vše 💡💡" data-color="#FF0000"></div>
    </li>    
    <li data-row="4" data-col="5" data-sizex="1" data-sizey="1">
      <div data-id="zehlicka_on" data-view="Habinary" data-title="🔌 žehlička" data-color="#FF0000"></div>
    </li>
    <li data-row="4" data-col="6" data-sizex="1" data-sizey="1">
      <div data-id="vstupni_dvere_sensor_7_0" data-view="Habinary" data-title="🚪 vstup" data-color="#FF0000"></div>
    </li>

    <li data-row="4" data-col="1" data-sizex="1" data-sizey="1">
      <div data-id="volume_down" data-view="Haservice" data-service="hdmi_cec/volume" data-payload="{&quot;down&quot;:2}" data-title="ztlumit" data-icon="volume-down"></div>
    </li>
    <li data-row="4" data-col="2" data-sizex="1" data-sizey="1">
      <div data-id="hdmi_5" data-view="Haswitch" data-title="🔊 repráky" data-color="#FF0000"></div>
    </li>
    <li data-row="4" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="volume_up" data-view="Haservice" data-service="hdmi_cec/volume" data-payload="{&quot;up&quot;:2}" data-title="zesílit" data-icon="volume-up"></div>
    </li>

  </ul>
</div>
